<div class="post-list-wrapper">
  <div th:if="${postList.isEmpty()}">
    <h1>아직 등록된 글이 없습니다.</h1>
  </div>
  <div th:unless="${postList.isEmpty()}">
    <div class="post-item" th:each="post : ${postList}" th:with="postUri=|/${post.id}|">
      <a class="thumb" th:href="@{${postUri}}">
        <!--/* TODO - 포스트에 삽입된 첫 번째 이미지를 썸네일로 사용 */-->
        <img th:src="@{/static/images/no-thumb.jpg}" alt="thumbnail">
      </a>
      <div class="post-info">
        <a class="title" th:href="@{${postUri}}" th:text="${post.title}"></a>
        <div class="summary">
          <span th:text="${post.desc}"></span>
        </div>
        <div class="date-category">
          <span class="date far fa-calendar">
            <span th:text="${#temporals.format(post.postAt, 'yyyy.MM.dd')}"></span>
          </span>
          <a th:href="|/category/${post.category.parent}/${post.category.name}|" class="category far fa-bookmark">
            <span th:text="|${post.category.parent}/${post.category.name}|"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <ul class="pagination" th:if="${!postList.isEmpty()}">
    <li th:if="${pagination.startPage} gt ${pagination.interval}" class="prev">
      <a class="fas fa-play" style="transform: rotateY(180deg);" th:href="@{${currentUrl}(page=${pagination.startPage}-1)}"></a>
    </li>
    <li th:each="p : ${#numbers.sequence(pagination.startPage, pagination.endPage)}"
        th:with="selected=${pStat.current == pagination.currentPage}"
        th:class="${selected} ? 'selected'">
      <span th:if="${selected}" th:text="${pStat.current}"></span>
      <a th:unless="${selected}" th:href="@{${currentUri}(page=${pStat.current})}" th:text="${pStat.current}"></a>
    </li>
    <li th:if="${pagination.endPage} lt ${pagination.lastPage}" class="next">
      <a class="fas fa-play" th:href="@{${currentUrl}(page=${pagination.endPage}+1)}"></a>
    </li>
  </ul>
</div>
