@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  font-family: 'Noto Sans KR', sans-serif, serif;
  font-size: 15px;
  margin: 0;
}

/* Basic */

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  color: #FC3;
}

p {
  font-size: 14px;
  line-height: 25px;
  color: #7a7a7a;
  letter-spacing: 0.2px;
}

h4 {
  font-size: 19px;
  font-weight: 700;
  color: #31323a;
  letter-spacing: 0.25px;
}

img {
  width: 100%;
  overflow: hidden;
}

button {
  font-size: 14px;
  font-weight: 700;
  background-color: transparent;
  display: inline-block;
  padding: 8px 20px;
  color: #535ba0;
  border: 2px solid #535ba0;
  transition: all 0.5s;
}

button:hover {
  color: #fff;
  background-color: rgba(83,91,160,1);
  cursor: pointer;
}

section {
  border-bottom: 3px solid #eee;
  padding-bottom: 100px;
}

/* Wrapper */

#wrapper {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    min-height: 100vh;
}


/* Main */

#main {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    width: 100%;
}

#main > .inner {
    padding: 100px;
}

/* Services */

.services {
  margin-top: 50px;
  padding-bottom: 0;
  border-bottom: none;
}

.services .post-list-wrapper,
.services .post-detail-wrapper {
  flex: 1;
  box-sizing: border-box;
  word-wrap: break-word;
  padding-left: 13px;
  padding-right: 13px;

}

  /* Service - post list */
.services .post-item {
  display: flex;
  margin-bottom: 3px;
  padding: 25px;
  transition: all 0.5s;
  border-radius: 6px;
  box-shadow: 3px 3px 5px #eaebef;
}

.services .post-item .thumb {
  display: block;
  width: 220px;
  height: 220px;
  margin-right: 28px;
  position: relative;
  overflow: hidden;
}

.services .post-item .thumb img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.services .post-item .thumb:hover img {
  -webkit-transform: scale(1.2,1.2);
  -moz-transform: scale(1.2,1.2);
  -o-transform: scale(1.2,1.2);
  transform: scale(1.2,1.2);
}

.services .post-item .post-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.services .post-item .post-info > * {
  margin-bottom: 15px;
}

.services .post-item .post-info .title {
  display: block;
  line-height: 1.7;
  font-size: 1.35em;
  font-weight: bold;
  color: black;
}

.services .post-item .post-info .title:hover {
  cursor: pointer;
  color: #dc4509;
}

.services .post-item .post-info .summary {
  display: -webkit-box;
  min-height: 125px;
  color: black;
  opacity: 0.8;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  font-size: 1.1rem;
  line-height: 1.7;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.services .post-item .post-info .date-category {
  display: flex;
  align-items: center;
  margin-top: 15px;
  height: 0.9rem;
  line-height: 0.9rem;
  font-size: 1rem;
}

.services .post-item .post-info .date-category .date {
  margin-right: 25px;
  color: #4d4d4d;
  opacity: 0.8;
}

.services .post-item .post-info .date-category .category {
  color: #4d4d4d;
  opacity: 0.8;
}

.services .post-item .post-info .date-category .category:hover {
  color: #dc4509;
  opacity: 1;
}

@media screen and (max-width: 1280px) {
  .services {
    margin-right: -25px;
  }
}

@media screen and (max-width: 768px) {
  .services {
    margin-right: -50px;
  }

  .services .post-list-wrapper .post-item {
    flex-direction: column;

  }
  .services .post-list-wrapper .post-item .thumb {
      width: 100%;
      max-height: 280px;
      margin-right: 0;
      margin-bottom: 32px;
  }
}

/* Sidebar */

#sidebar {
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    -moz-transition: margin-left 0.5s ease, box-shadow 0.5s ease;
    -webkit-transition: margin-left 0.5s ease, box-shadow 0.5s ease;
    -ms-transition: margin-left 0.5s ease, box-shadow 0.5s ease;
    transition: margin-left 0.5s ease, box-shadow 0.5s ease;
    background-color: #24252d;
    position: relative;
    width: 420px;
    display: block;
}

#sidebar > .inner {
    position: relative;
    width: 420px;
}

  /* Sidebar - category */
#category {
  margin-top: 50px;
  margin-left: 60px;
}

#category ul {
    color: #3d4449;
    letter-spacing: 0.075em;
    margin-bottom: 0;
    padding: 0;
}

#category ul a {
  color: #fff;
    border-bottom: 0;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-weight: 300;
    padding: 15px 0px;
}
#category ul li ul a {
    padding: 10px 0px;
}

#category ul a:hover {
    color: #535ba0;
}

#category ul li.selected > a {
  border-left: solid #007bff;
  padding-left: 4px;
  margin-left: -5px;
  line-height: 5%;
}

#category > ul > li {
    border-top: solid 1px #1a1b20;
    margin: 0.5em 0 0 0;
    padding: 0.5em 0 0 0;
}

#category > ul > li > ul {
    color: #9fa3a6;
    margin: 0.5em 0 1.5em 0;
    padding-left: 1em;
}

#category > ul > li > ul a {
    font-size: 13px;
}

#category > ul > li > ul > li {
    margin: 0.125em 0 0 0;
    padding: 0.125em 0 0 0;
}

#category > ul > li:first-child {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
}

#sidebar .toggle {
    text-decoration: none;
    -moz-transition: left 0.5s ease;
    -webkit-transition: left 0.5s ease;
    -ms-transition: left 0.5s ease;
    transition: left 0.5s ease;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    border: 0;
    display: block;
    color: #fff;
    height: 100px;
    left: 420px;
    line-height: 100px;
    outline: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-indent: 100px;
    top: 0;
    width: 100px;
    z-index: 10000;
}

#sidebar .toggle::before {
    font-size: 2rem;
    height: inherit;
    left: 0;
    line-height: inherit;
    position: absolute;
    text-indent: 0;
    top: 0;
    width: inherit;
}

#sidebar.inactive {
    margin-left: -420px;
}

@media screen and (min-width: 1281px) {

  #sidebar .toggle {
    display: none;
  }

  #sidebar .toggle::before {
    display: none;
  }
}

@media screen and (max-width: 1280px) {

  #sidebar {
      box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.175);
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      z-index: 10000;
  }
  #sidebar.inactive {
      box-shadow: none;
  }
  #sidebar > .inner {
      -webkit-overflow-scrolling: touch;
      height: 100%;
      left: 0;
      overflow-x: hidden;
      overflow-y: auto;
      position: absolute;
      top: 0;
  }
  #sidebar > .inner::after {
      content: '';
      display: block;
      height: 4em;
      width: 100%;
  }
  #sidebar .toggle {
      width: 6em;
  }
  #sidebar .toggle:hover {
      cursor: pointer;
  }
  #sidebar .toggle::before {
      font-size: 2.5rem;
      color: #fff;
      background-color: rgba(83,91,160,0.75);
  }
  body.is-preload #sidebar {
      display: none;
  }
}

/* Header */

#header {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    position: relative;
    background-color: #535ba0;
    margin: -100px -100px 100px -100px;
}

#header .logo {
    text-align: right;
    display: inline-block;
    width: 100%;
    height: 100px;
    line-height: 100px;
}
#header .logo a {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 700;
  margin-right: 100px;
}

/* Footer */

#footer .copyright {
  text-align: center;
    color: #fff;
    font-size: 14px;
    margin-top: 50px;
}

#footer .copyright p {
  margin-bottom: 0px;
}

/* pagination */

.pagination {
  margin-top: 50px;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.pagination > li {
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-right: 2px;
  border-radius: 3px;
}

.pagination > li > a,
.pagination > li > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1.25rem;
  color: #31323a;
}

.pagination > li.selected {
  background-color: #5b77ff;
}

.pagination > li.selected > span {
  color: white;
}

.pagination > li:not(.selected):hover {
  background-color: #1a1b20;
  opacity: 0.6;
  cursor: pointer;
}

.pagination > li:not(.selected):hover > a {
  color: white;
}

/* 게시글 보기 */

.post-detail-wrapper .content * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: visible;
}
.post-detail-wrapper .content p {
  margin-bottom: 10px;
}
.post-detail-wrapper .content blockquote {
  color: #999;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding: 0 5px 0 20px;
  border: solid #b1b1b1;
  border-width: 0 0 0 5px;
}
.post-detail-wrapper .content pre {
  padding: 8px;
  margin: 0 0 10px;
  line-height: 1.45;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: visible;
}
.post-detail-wrapper .content pre code {
  font-family: 'Fira Code', monospace;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.15rem;
  letter-spacing: 0.02em;
}

.code-container {
  position: relative;
}

.code-language {
  position: absolute;
  top: -20px;
  right: 15px;
  text-transform: uppercase;
}
hr.hr-thin, hr.hr-normal, hr.hr-thick {
  border-color: black;
  border-style: solid none none;
}
hr.hr-thin {
  border-width: 1px;
}
hr.hr-normal {
  border-width: 2px;
}
hr.hr-thick {
  border-width: 4px;
}
/*  */
